<style>
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');>
</style>


* {
    padding: 0; 
    margin: 0;
    box-sizing: bboarder-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'lato' , sans-serif;
}

header {
    background-color: lightcoral;
}

h1 {
    font-family: 'oswald' , sans-serif;
}

h1 {
    font-family: "oswald" , sans-serif;
}
main { 
    background-color: lightblue;
    flex: 1 0 auto;
}
footer {
    background-color: orange
}

* {
    padding: 0;
    margin: 0
    box-sizing: boarder box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a'
    font-family: "lato" sans sarif:


}

header {
Header
}

main {
Main content
flex: 1 0 auto;
}

footer {
Footer
}