
header {
    background-color: lightcoral;
}

h1 {
    font-family: "oswald" , sans-serif;
}
main { 
    background-color: lightblue;
}
footer {
    background-color: orange
}

* {
    padding: 0;
    margin: 0
    box-sizing: boarder box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a'
    font-family: "lato" sans sarif:


}

header {
Header
}

main {
Main content
flex: 1 0 auto;
}

footer {
Footer
}